html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
}

body {
    background-color: #ffffff;
    width: 485px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1em;
}

h1 {
    color: #007d7b;
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
}

h2 {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
}

li {
    text-transform: uppercase;
}

    
p {
    font-size: 1.25em;
    padding-left: 1em;
    padding-right: 1em;
}

figcaption, label, input, small {
    font-size: 1em;
}

nav {
    background-color: #000000;
    padding: 10px;
}
nav a {
    font-size: 1.5em;
    text-decoration: none;
    color: #ffffff;
    padding-right: 30px;
}

nav li {
    display: inline-flex;

}

[href="#top"] {
    color: #ffffff;
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 8px 8px;
    border: solid white;
}

#contact {
    background-color: #000000;
    color: #ffffff;
    padding-top: 1em;
}

#contact h3 {
    visibility: hidden;
}

.bottomCaption {
    display: flex;
    flex-flow: column;
}

.bottomCaption figcaption {
    position: relative;
    bottom: 2em;
    text-align: center;
}

.topCaption {
    display: flex;
    flex-flow: column-reverse;
}

.topCaption figcaption{
    position: relative;
    top: 2em;
    text-align: center;
}

figcaption {
    text-transform: uppercase;
    font-weight: bold;
}

/*Form adjustments*/
form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

form label {
    margin-bottom: 10px;
    margin-top: 10px;
}

form input {
    padding: 10px 0px 10px;
    margin-bottom: 10px;
}

[type="submit"] {
    background-color: #007d7b;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
    justify-content: center;
    
}

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5em 0 1em;
}


@media screen and (min-width: 880px){
    body {
        width: 880px;     
    }

    h1 {
        text-align: left;
    }

    nav {
        display: inline-block;
        width: 100%;
  
    }

    ul {
        text-align: center;
    }

    #galleryWrapper {
        width: 50%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }

    figure {
        margin: 10px;
        overflow-y: auto; 
    }

    
}

@media screen and (min-width: 1300px) {
    body {
        width: 880px;
    }

    h1 {
        text-align: right;
        padding-right: 15px;
    }

    #galleryWrapper {
        width: 25%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template: "leftColumn middleColumn rightColumn";
    }

    figure {
        margin: 10px;

    }
}